

#board {
	display: table;
	
	width: 100%;
	height: 100%;
	
	border: 1px solid white;
	
	margin-left: auto;
	margin-right: auto;
}

#board .row {
	display: table-row;
}

#board .square {
	display: table-cell;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

#game_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 15px;
	
	overflow: hidden;
}

#game_panel > div {
	height: 100%;
}

.white {
	background-image: url(white.png);
}

.black {
	background-image: url(black.png);
}

.king {
	background-image: url(king.png);
}

.throne {
	background-color: #ccc;
}

.active {
	background-color: #dd6;
}

@media only screen and (orientation:landscape) {
	#header, #menu {
		display: none;
	}
	
	#navbar {
		display: block;
	}
}


